<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>B.E. Notices - Jiwaji University</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Emilys+Candy&family=MedievalSharp&family=Mystery+Quest&family=Satisfy&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/style.css" />
    <script>
      window.onload = function () {
        document.querySelector(".loader").style.display = "none";
        document.querySelector(".content").style.display = "block";
      };
    </script>
  </head>
  <body>
    <div class="loader">
      <img
        src=" https://i.pinimg.com/originals/dc/cc/84/dccc846959dffafa30a836dfacf9bab9.gif "
        alt="" />
    </div>
    <button
      class="back-btn"
      onclick="location.href='https://aryanrajput5772.github.io/IEJU-Archive/index.html'">
      ◀ Back
    </button>

    <h1>B.E. Notices (Jiwaji University)</h1>
    <form id="searchForm" class="search-form">
      <input type="text" id="searchInput" placeholder="Search notices..." />
      <button type="submit">Search</button>
    </form>

    <ul>
      <% notices.forEach(notice => { %>
      <li>
        <div class="box">
          <strong><%= notice.date %></strong>:
          <a href="<%= notice.link %>" target="_blank"><%= notice.text %></a>
        </div>
      </li>
      <% }) %>
    </ul>

    <script src="/search.js"></script>
  </body>
</html>
